{% extends 'base.html' %}
{%block content%}
		<!--about start -->
		<section id="about" class="about">
			<div class="container">
				<div class="about-content">
					<div class="row">
						<div class="col-sm-12">
							<div class="single-about-txt">
								<h2  style="color:#d92cf9; font-weight:bold; font-size:25px; text-align: center;"><strong>산불</strong></h2>
								
								<p style="text-align: center;">
									2014~2023년 시도별 산불 피해면적 및 빈도수
								</p>
								<div>
									<canvas id="myChart4"></canvas>
								</div>
								<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>    
								<script>
									const ctx4 = document.getElementById('myChart4');
									new Chart(ctx4, {
										type: 'bar',
										data: {
											datasets: [{
												type: 'bar',
												label: '피해면적',
												data: {{ sum|safe }},
												backgroundColor: 'rgba(255, 99, 132, 0.2)',
												borderColor: 'rgba(255, 99, 132, 1)',
												borderWidth: 1,
												yAxisID: 'bar-y-axis'  // 바 차트를 위한 Y축 ID
											}, {
												type: 'line',
												label: '빈도수',
												data: {{ count|safe }},
												backgroundColor: 'rgba(0, 100, 100, 0.5)',
												borderColor: 'rgba(0, 100, 100, 1)',
												borderWidth: 1,
												yAxisID: 'line-y-axis'  // 라인 차트를 위한 Y축 ID
											}],
											labels: {{ sido|safe }},
										},
										options: {
											scales: {
												yAxes: [{
													id: 'bar-y-axis',
													type: 'linear',
													position: 'left',
													scaleLabel: {
														display: true,
														labelString: '피해면적',  // 피해면적 타이틀
														fontColor: 'darkgreen'  // 타이틀 색상 설정
													}
												}, {
													id: 'line-y-axis',
													type: 'linear',
													position: 'right',
													scaleLabel: {
														display: true,
														labelString: '빈도수',  // 빈도수 타이틀
														fontColor: 'darkgreen'  // 타이틀 색상 설정
													}
												}]
											}
										}
									});
								</script>
								
								
								<p style="text-align: center;">
									지역별 1987~1996년 대비 2007~2016년 산불발생 건수 비교
									<br><br>
									<img src="/media/portfolio/fire_compare.JPG">
								</p>

								<p style="text-align: center;">
									2017년 ~ 2023년 시도별 산불 빈도수
								</p>

								<div>
									<canvas id="myChart3"></canvas>
								</div>

								<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
									
								<script>
									const ctx3 = document.getElementById('myChart3');
									
									new Chart(ctx3, {
										type: 'bar',
										data: {
											labels: {{ sido17to23|safe }}, 
											datasets: [{
												label: '시도별 빈도수',
												data: {{ count17to23|safe }},
												backgroundColor: 'rgba(255, 99, 132, 0.2)',
                								borderColor: 'rgba(255, 99, 132, 1)', 
												borderWidth: 1
											}]
										},
										options: {
											scales: {
												y: {
													beginAtZero: true,
													title: {
                                                            display: true,
                                                            text: '횟수',
                                                            color: 'gray',
                                                            font: {
                                                                family: 'Times',
                                                                size: 13,
                                                                style: 'normal',
                                                                lineHeight: 1.2
                                                            }
                                                        }
												}
											},
											indexAxis: 'y' //수평차트 만들기
										}
									});
								</script>

								<br><br>
								<p style="text-align: center;">
									발생원인 
								</p>	
									<br><br>
									<a href="https://www.forest.go.kr/kfsweb/kfi/kfs/cms/cmsView.do?mn=NKFS_02_02_01_03_01&cmsId=FC_001153">
										<img src="/media/portfolio/fire_damage.jpg">
									  </a>		
								<!-- <p>
									2014년 ~ 2022년 산불 피해액
								</p>
								<h2 style="font-size: 20px; font-weight: bolder; text-align:center; padding: left 200px;">
									<strong><a style=" background: linear-gradient(to top, #FFE400 50%, transparent 50%)"> ▼  2014년 ~ 2022년 산불 피해액  ▼ </a></strong>
								</h2>
								<div>
									<canvas id="myChart3"></canvas>
								</div>
									
								<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
									
								<script>
									const ctx3 = document.getElementById('myChart3');
									
									new Chart(ctx3, {
										type: 'bar',
										data: {
											labels: {{ year|safe }}, 
											datasets: [{
												label: '피해액',
												data: {{ money|safe }},
												backgroundColor: 'rgba(255, 99, 132, 0.2)',
                								borderColor: 'rgba(255, 99, 132, 1)',
												borderWidth: 1
											}]
										},
										options: {
											scales: {
												y: {
													beginAtZero: true
												}
											}
										}
									});
								</script> -->
								<br><br>
								<h2 style="font-size: 25px; font-weight: bolder; text-align:center; padding: left 200px;">
									<a href ="/media/portfolio/fire_map.html">▼ 2014~2023 지역별 산불 빈도수 자세히 보러 가기 클릭 ▼ </a>
									<br><br>
									<a href ="/media/portfolio/fire_map.html"><img src="/media/portfolio/fire_map.jpg"></a>
								</h2>
								</p>
									<br><br>
									<h2 style="font-size: 25px; font-weight: bolder; text-align:center; padding: left 200px;"><mark><strong>국가 대비책</mark></strong></h2>
									<p style="text-align: center; font-weight: bolder;">
										1. 체계적이고 과학적인 산불방지 통합시스템 구축 : 산불위험예보+무선통신망구축+GPS+통계시스템
										<br>
										2. 범국민적 홍보활동 강화로 인위적 산불발생원인을 근원적으로 차단함으로써 산불발생의 최소화
										<br>
										3. 산불의 조기발견, 헬기 및 정예화된 진화요원에 의한 초동진화 체제 강화
										<br>
										4. 대형산불에 대처하기 위한 강력하고 조직적인 산불 통합지휘체계 구축
										<br>
									</p>
										<br><br>
									<h2 style="font-size: 25px; font-weight: bolder; text-align:center; padding: left 200px;"><mark><strong>개인 대비책</strong></mark></h2>
									<p style="text-align: center; font-weight: bolder;">
										1. 산과 가까운 곳에서 쓰레기, 영농부산물 등을 소각하지 않습니다.
										<br>
										2. 가족과 함께 비상연락망과 대피 시 각자의 역할을 정하도록 합니다.
										<br>
										3. 산불에 대비하여 비상용품을 준비해 두고 보관장소와 사용법을 알아둡니다.<br>
										- 비상식품: 물, 통조림, 라면 등 가열하지 않고 먹을 수 있는 것<br>
										- 구급약품: 연고, 감기약, 소화제, 복용중인 약 등이 포함된 구급함<br>									   
										- 생활용품: 간단한 옷, 화장지, 물티슈, 라이터, 여성용품, 비닐봉투<br>									   
										- 기타: 라디오, 손전등 및 건전지, 휴대전화, 보조배터리, 비상금, 비상연락망 등<br>
										<br>
									</p>
										<br><br>
										<h2 style="font-size: 25px; font-weight: bolder; text-align:center; padding: left 200px;"><strong><mark># 미리 미리 알아두는 화재 대피 방법 </mark></strong></h2></br>
										<div style="width:560px; height:315px; margin: 0 auto;">
											<iframe style="width:100%; height:100%;" src="https://www.youtube.com/embed/Yai9NPVj1Tk?si=L6D-5ucpDNkyYUFZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
										</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>		

{%endblock%}