{% extends 'base.html' %}
{%block content%}
<!--게시판 감싸기-->
<section id="about" class="about">
    <div class="container">
        <div class="about-content">
            <div class="row">
                <div class="col-sm-12c">
                    <div class="single-about-txt">

                        <!-- 게시판 시작-->
                        <div class="section section-properties">
                            <div class="container">
                                <div class="two_third first" style="height:800px">
                                <div class="col-lg-12">
                                    <h2  style="color:#d92cf9; font-weight:bold; font-size:25px; text-align: center;"><strong>자유게시판</strong></h2>
                                    <hr/>
                                    <br>
                                    <br>
                                        <!--검색창-->    
                                        <div id="board-search">
                                            <div class="container">
                                                <div class="search-window">
                                                    <form action="{% url 'users:post' %}", method ="GET">
                                                        <div class="search-wrap">
                                                            <label for="keyword" class="blind">제목 검색</label>
                                                            <input type=text size=45 class="input-sm" id="keyword" name="keyword" value="{{ keyword }}" placeholder="검색어를 입력해주세요.">
                                                            <button type="submit" class="btn btn-dark">검색</button>
                                                        
                                                        </div><!--search-wrap-->
                                                    </form>
                                                </div><!--search-window-->
                                            </div><!--검색창container-->
                                        </div><!--board-search-->
                                    <br>
                                    <br>
                        
                     
                                    <!-- board list area -->
                                    <div id="board-list">
                                        <div class="container">
                                            <table class="table" id="user-table">
                                                <thead>
                                                <tr>
                                                    <th width="5%" class="text-center">번호</th>
                                                    <th width="35%" class="text-center">제목</th>
                                                    <th width="15%" class="text-center">이름</th>
                                                    <th width="17%" class="text-center">작성일</th>
                                                </tr>
                                                </thead>
                                                
                                                <tbody>
                                                <c:forEach var="vo" items="${list }">
                                                {% if title_keyword %}
                                                <!-- 총 몇 개의 글이 뜨는지 보여줌 -->
                                                    <p>"{{ keyword }}" 검색 결과입니다. 총 {{ title_keyword.count }}건이 검색되었습니다.</p>
                                                        
                                                    {% for post in title_keyword %}
                                                    <tr class="board_info">
                                                        <td width="10%" class="text-center"><a href="/users/{{ post.id }}/">{{post.id}}</a></td>
                                                        <td width="35%"><a href="">{{post.title }}</a>
                                                            &nbsp;&nbsp;
                                                    
                                                        </td>
                                                        <td width="15%" class="text-center">{{post.author}} </td>
                                                        <td width="17%" class="text-center">{{post.created}}</td>
                                                    </tr>
                                                    {%endfor%}
                                                {% else %}
                                                    {% for post in posts %}
                                                    <tr class="board_info">
                                                        <td width="10%" class="text-center"><a href="/users/{{ post.id }}/">{{post.id}}</a></td>
                                                        <td width="35%"><a href="">{{post.title }}</a>
                                                            &nbsp;&nbsp;
                                                    
                                                        </td>
                                                        <td width="15%" class="text-center">{{post.author}} </td>
                                                        <td width="17%" class="text-center">{{post.created}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                {% endif %}
                                                </c:forEach>
                                                </tbody>
                                            </table>
                                            
                                            <table>
                                                <tr>
                                                    <td>
                                                    <c:if test="${sessionScope.id!=null }">
                                                        <div class="wrap">
                                                            <a href="{%url 'users:post_add' %}" class="button">글쓰기</a>
                                                            <br><br>
                                                            <a href="{%url 'index' %}" class="button">메인으로</a>
                                                            
                                                        </div>
                                                    </c:if>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <!--board list-->
                                </div><!--게시판col-lg-6-->
                                </div><!--게시판two_third first-->
                            </div><!--게시판 container-->
                        </div><!--section section-properties-->
                        <!--게시판 끝-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{%endblock%}