{% extends 'base.html' %}
{%block content%}
		<!--about start -->
		<section id="about" class="about" style ="margin:0 auto;">
			<div class="container" style ="margin:0 auto;">
				<div class="about-content" style ="margin:0 auto;">
					<div class="row" style ="margin:0 auto;">
						<div class="col-sm-12" style ="margin:0 auto;">
							<div class="single-about-txt" style ="margin:0 auto;">
								<h2  style="color:#d92cf9; font-weight:bold; font-size:25px; text-align: center;"><strong>태풍</strong></h2>
									
								<p style="text-align: center;">
									태풍 년도별 피해액 그래프

									<div>
										<canvas id="myChart"></canvas>
									</div>

									<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

									<script>
										const ctx = document.getElementById('myChart');

										new Chart(ctx, {
											type: 'bar',
											data: {
												labels: {{ labels|safe }},  
												datasets: [{
													label: '피해액(단위: 천원)',
													data: {{ values|safe }},  
													borderWidth: 1
												}]
											},
											options: {
												scales: {
													y: {
														beginAtZero: true,
														title: {
                                                            display: true,
                                                            text: '단위:천원',
                                                            color: 'gray',
                                                            font: {
                                                                family: 'Times',
                                                                size: 13,
                                                                style: 'normal',
                                                                lineHeight: 1.2
                                                            }
                                                        }
													}
												}
											}
										});
									</script>  
								</p>
								<h2 style="font-size: 25px; font-weight: bolder; text-align:center; padding: left 200px;">
									<strong><a style=" background: linear-gradient(to top, #FFE400 50%, transparent 50%)"> ▼ 2011년 ~ 2023년 태풍 경로 한 눈에 보기 ▼ </a></strong>
									<br><br>
									<img src="/media/portfolio/typhoon_map.jpg" style="display:block; width:100%;" onclick="window.open(this.src)">
								</h2>
								<div class="row">
								<br><br>
								<h2 style="font-size: 25px; font-weight: bolder; text-align:center; padding: left 200px;"><mark><strong>국가 대비책</strong></mark></h2>
								<p style="text-align: center; font-weight: bolder;">
								   1. 침수방지시설을 보다 적극적으로 추진
								   <br>
								   2. 대응단계 빠르게 시작, 시민에게 적극적인 홍보
								   <br>
								   3. 재해취약 지역 점검활동
								   <br>
								   4. 원활한 배수시설 설계
								   <br>
								   5. 위험 예상지역 통행제한 조치
								   <br>
								</p>                  
								<br><br>
								<h2 style="font-size: 25px; font-weight: bolder; text-align:center; padding: left 200px;"><mark><strong>건물주 / 건설사 대비책</strong></mark></h2>
								<p style="text-align: center; font-weight: bolder;">
								   1. 내풍설계
								   <br>
								   2. 원활한 배수시설
								   <br>
								   3. 시설물 정기적인 점검 필요
								   <br>
								   4. 태풍예보 시 작업금지
								   <br>
								   5. 위험 예상지역 통행제한 조치
								   <br>
								   6. 모래주머니, 물막이 판설치
								   <br>
								</p>
								<br><br>
								<h2 style="font-size: 25px; font-weight: bolder; text-align:center; padding: left 200px;"><mark><strong>개인 대비책</strong></mark></h2>
								<p style="text-align: center; font-weight: bolder;">
								   1. 위험지역 접근 금지
								   <br>
								   2. 노후된 창문 보수작업, 야외 개인 시설물 실내이동
								   <br>
								   3. 개인 시설물 정기적인 점검 필요
								   <br>
								   4. 배수구 점검 
								   <br>
								   5. 안전지대로 차량 이동
								   <br>
								</p>
								<br><br>
								<h2 style="font-size: 25px; font-weight: bolder; text-align:center; padding: left 200px;"><strong><mark># 미리 미리 알아두는 태풍 대비 방법</mark></strong></h2></br>
								<div style="width:560px; height:315px; margin: 0 auto;">
									<iframe style="width: 100%; height:100%;" src="https://www.youtube.com/embed/oWu95ZitpTI?si=t0iOLZPFIDgv9-Eo&amp;start=78" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
								</div>
								<div class="row">
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>		


{%endblock%}