{% extends 'base.html' %}
{%block content%}
<section id="about" class="about">
    <div class="container">
        <div class="about-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="single-about-txt">

                        <div id="navbar">
                            <a>제목 : </a>
                            <span>{{ post.title }}</span>
                        </div>
                        <div id="post-detail">
                            <a>내용 : </a>
                            <a>{{ post.content|linebreaksbr }}</a>
                            <hr><br><br>

                            <a href="{%url 'users:post' %}" class="button">목록으로</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}